body{
	margin:0;
	font-size: 24px;
}
header{
	background-color: orange;
	text-align: center;
}
a{
	color: red;
	text-decoration: none;
}
a:hover {
	color: blue;
	text-decoration: underline;
}
header h1{
	font-family: 'Luckiest Guy';
	font-size: 82px;
	letter-spacing: 3px;
}
h2{
	margin-left: 50px;
	font-family: 'Lobster', cursive;
	font-size: 42px;
	color: orange;
}
.hmmmm{
	margin: 0 100px;
}
.size{
	margin: 0px;
	height: 100px;
}
li{
	font-family: 'Luckiest Guy';
	font-size: 20px
}
footer{
	margin-top: 30px;
	font-size: 16px
}
p{
	font-family: 'Comfortaa', cursive;
	letter-spacing: -1.5px
}
.yeet{
	padding-left: 5px;
	height: 200px;
	min-height: 50%;
	min-width: 50%;
	max-height: 100%;
	max-width: 100%
}